@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..800");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,600,0..1,-50..200&icon_names=check,chevron_left,directions_walk,my_location,pin_drop,search");

h1 {
    font-family: Rockwell, Montserrat;
    text-align: center;
    color: white
}
h1.sub {
    font-weight: 100;
}
h3 {
    font-family: Montserrat;
    color: rgb(224, 244, 251)
}
h5 {
    font-family: Rockwell, Montserrat;
    color: white;
    span {
        background-color: rgb(176, 77, 11);
        padding: 10px;
        border-radius: 360px;
    }
}
#coords {
    color: white;
    font-family: Montserrat;
    text-align: center;
    padding: 20px;
}
body {
    background-color: rgb(191, 101, 37);
    margin: 0;
    text-align: center;
}
#logo {
    display: block;
    margin: 0 auto;
    width: 80px;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    padding: 0;
}
#header {
    background-color: rgb(194, 215, 234);
    padding: 20px;
    color: rgb(66, 66, 143);
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
#space {
    height: 115px;
}

.searchbar {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    font-weight: 700;
    font-family: system-ui, -apple-system, Montserrat, sans-serif;
    box-shadow: 0 10px 6px -1px rgba(0, 0, 0, 0.1);
}
.iconLarge {
    background-color: rgb(49, 43, 39);
    padding: 6px;
    border-radius: 360px;
    vertical-align: middle;
    font-size: 30px !important;
    color: rgb(244, 244, 247);
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    transition: transform 1s;
}
.iconLarge:hover {
    transform: rotate(10deg);
}
.iconLarge2 {
    background-color: rgb(72, 34, 8);
    padding: 6px;
    margin: 5px;
    border-radius: 360px;
    vertical-align: middle;
    font-size: 30px !important;
    color: rgb(244, 244, 247);
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    transition: transform 1s;
}
.iconLarge2:hover {
    transform: rotate(-20deg);
}
.iconLarge2-label {
    background-color: none;
    padding: 6px;
    margin: 5px;
    border-radius: 360px;
    vertical-align: middle;
    font-size: 30px !important;
    color: rgb(244, 244, 247);
    user-select: none;
    -webkit-user-select: none;

    transform-origin: center;
}